[submodule "themes/hugo-icon"]
	path = themes/hugo-icon
	url = "https://github.com/SteveLane/hugo-icon.git"
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng
